.views-table {
  font-size: .75em;
  width: 100%;
  border-style: solid;
  border-width: 1px; }
  .views-table th {
    padding: 2px; }
  .views-table td {
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px 1px 1px 0; }
  .views-table td.active {
    background-color: transparent; }

@media only screen and (min-width: 550px) {
  .views-table {
    font-size: 1em; }
    .views-table th {
      padding: 5px; }
    .views-table td {
      padding: 5px;
      text-align: center;
      vertical-align: middle;
      border-style: solid;
      border-width: 1px 1px 1px 0; } }

h1, h2 {
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif; }

h1 {
  font-size: 1.5em;
  padding: 10px 0; }

h2 {
  padding: 10px 0; }

body {
  background-color: rgba(0, 255, 215, 0.06);
  font-size: 1.5em; }

#shurly-create-form {
  border-style: solid;
  border-width: 1px;
  padding: 5px; }
  #shurly-create-form #edit-long-url {
    max-width: 95%; }

.view-footer {
  padding-top: 5px; }

.block {
  width: 100%;
  padding-bottom: 10px; }

.l-header {
  padding: 5px;
  margin: auto; }

.l-main {
  padding: 5px;
  margin: auto; }

@media only screen and (min-width: 600px) {
  .l-header,
  .l-main {
    padding: 0;
    width: 75%; } }

@media only screen and (min-width: 900px) {
  .l-header,
  .l-main {
    padding: 0;
    width: 50%; } }

/*# sourceMappingURL=utct.styles.css.map */
