.views-table {
  font-size: .75em;
  width: 100%;

  border-style: solid;
  border-width: 1px;

  th{
    padding:2px;
  }

  td{
    padding:2px;
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px 1px 1px 0;
  }

  td.active{
    background-color: transparent;
  }
}

@media only screen and (min-width: 550px) {
  .views-table{
    font-size: 1em;

    th{
      padding:5px;
    }

    td{
      padding:5px;
      text-align: center;
      vertical-align: middle;
      border-style: solid;
      border-width: 1px 1px 1px 0;
    }
  }

}