.l-header{
  //width: 50%;
  padding: 5px;
  margin: auto;
}

.l-main{
  //width: 50%;
  padding: 5px;
  margin: auto;
}


@media only screen and (min-width: 600px) {
  .l-header,
  .l-main{
    padding: 0;
    width: 75%;
  }
}




@media only screen and (min-width: 900px) {
  .l-header,
  .l-main{
    padding: 0;
    width: 50%;
  }
}